@using EVS336.GarmentsShop.Models.Users
@{
    UserSessionModel currentUser = (UserSessionModel)Session[WebUtil.CURRENT_USER];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" lang="en-us" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <script src="~/Scripts/js.cookie.min.js"></script>
    @RenderSection("mystyles", false)
    <title>PakClassified - @ViewBag.Title</title>
</head>

<body>
    <header>

        @RenderSection("Navbar", false)

        <section class="container-fluid" style="padding-top:15px;">

            @RenderSection("Slider", false)

        </section>
    </header>


    <div id="maincontents" class="container-fluid">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("myscript", false)
</body>
</html>

